body {
  font-family: Arial, sans-serif;
}

#queueContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.queue-box {
  border: 2px solid #38bdf8;
  padding: 12px 16px;
  font-weight: bold;
  background-color: #020617;
  color: white;
}

.queue-box.front {
  border-color: #22c55e; /* green */
}

.queue-box.rear {
  border-color: #facc15; /* yellow */
}
