body {
  font-family: Arial, sans-serif;
}

#stackContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  width: 120px;
}

/* Base stack box */
.stack-box {
  border: 2px solid #38bdf8;
  padding: 12px;
  margin: 4px 0;
  text-align: center;
  font-weight: bold;
  background-color: #020617;
  color: white;

  /* animation */
  opacity: 0;
  transform: translateY(15px);
  animation: pushIn 0.3s ease forwards;
}

/* Highlight TOP */
.stack-box.top {
  border-color: #facc15;
  background-color: #1e293b;
}

/* Push animation */
@keyframes pushIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
