body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
}

.header {
    text-align: center;
    padding: 25px;
    background-color: #020617;
}

.section {
    padding: 25px;
    max-width: 900px;
    margin: auto;
}

.section h2 {
    color: #38bdf8;
}

.code-block {
    background-color: #020617;
    padding: 15px;
    margin-top: 10px;
    white-space: pre;
}

.visual-area,
.practice-area {
    margin-top: 15px;
    padding: 15px;
    background-color: #020617;
}

.explanation-box {
    margin-top: 10px;
    padding: 10px;
    border-left: 4px solid #38bdf8;
}

.controls button {
    margin: 5px;
    padding: 10px 15px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #020617;
}
